.login-container {
  width: 100%;
  height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background: url(../../assets/images/login-register/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3); 
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
    z-index: 1;
  }

  form {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      label {
        font-family: "Merriweather", serif;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: #fff;
      }

      input {
        padding: 1.1rem 1rem;
        font-size: 1.6rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #101010;
        }
      }
    }

    button {
      padding: 1.5rem;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: "Barlow", serif;
      text-transform: uppercase;
      border: none;
      border-radius: 10rem;
      cursor: pointer;
      background: linear-gradient(135deg, #b4b4ab 0%, #302e29 100%);
      color: #fff;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px #ababab;
      }
    }

    p {
      font-size: 1.6rem;
      color: #fff;
      text-align: center;

      span {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
